<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <meta property='og:title' content="Star Contest ☆"/>
  <meta property="og:image" content="./screen.png" />
  <meta name="author" content="Ruslan Niu">
  <meta
     name="description"
     content="WEB game with NASA and Spotify APIs. Background changes every day." 
     />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Star Contest ☆</title>
  <link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-02-02/999a3363940a2bc02422e1f21991985d.ico" type="image/x-icon">
</head>

<body style = "background-image: url('{{background}}')">
  <main class="center-align">
  {{{body}}}
</main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
</body>

</html>
