/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


body {
  /* Location of the image */
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: top center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #000000;
}

h1 {
  margin-top: 10vh;
}

h1,
h4,
h5,
h6 {
  color: #e3f2fd;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.zero-margin-left {
  margin-left: 0;
}

.pulse {
  display: block;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: none;
}
.pulse:hover {
  animation: pulse 2s infinite;
}

a, a:visited {
  color: #e3f2fd;
}

a:hover {
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e3f2fd66;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #e3f2fd00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #e3f2fd00;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #e3f2fd66;
    box-shadow: 0 0 0 0 #e3f2fd66;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #e3f2fd00;
    box-shadow: 0 0 0 10px #e3f2fd00;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #e3f2fd00;
    box-shadow: 0 0 0 0 #e3f2fd00;
  }
}
