html {
  /* Location of the image */

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
  the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
  on the container's size */
  -webkit-background-size: cover ;
  -moz-background-size: cover ;
  -o-background-size: cover ;
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #000000;

}

h1 {
  margin-top: 10vh;
}

h1,
h2,
h4,
h5,
h6 {
  color: #e3f2fd;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.zero-margin-left {
  margin-left: 0;
}

.pulsing {
  display: block;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: none;
}
.pulsing:hover {
  animation: pulsing 2s infinite;
}

.inline {
  display: inline;
}

.pulsingpop {
  display: block;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulsing 2s infinite;
}

.again {
  animation-duration: 3s;
  animation-delay: 1s;
}

.again:hover {
  animation: flash 2s infinite;
}

a,
a:visited {
  color: #e3f2fd;
}

/* a:hover {
  animation: pulsing 2s infinite;
} */

.twitter {
  animation-duration: 3s;
  animation-delay: 2s;
}

.twitter:hover {
  animation: pulse 1s infinite;
}

.result:hover {
  animation: tada 2s;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e3f2fd66;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #e3f2fd00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #e3f2fd00;
  }
}
@keyframes pulsing {
  0% {
    -moz-box-shadow: 0 0 0 0 #e3f2fd66;
    box-shadow: 0 0 0 0 #e3f2fd66;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #e3f2fd00;
    box-shadow: 0 0 0 10px #e3f2fd00;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #e3f2fd00;
    box-shadow: 0 0 0 0 #e3f2fd00;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 0.2rem;
    font-size: xxx-large;
  }

  .artists {
    margin: 0;
  }
  h2 {
    font-size: xx-large;
  }
  h4 {
    font-size: x-large;
  }
}
